body {
    background-color: rgb(83, 64, 44);
    background-image: url('files/clock.jpg');
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'Dancing Script', cursive;
}

h1 {
    font-size: 1200%;
    color: #cec3b4;
}

h2, h3 {
    font-size: 200%;
    color: #cec3b4;
}

.container {
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: start;
    align-items: auto;
    align-content: start
}

.contact-text {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 980px;
    margin-top: 4rem;
    flex-wrap: wrap;
}

.contact-links {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 980px;
    margin-top: 1rem;
    flex-wrap: wrap;
}


.cv {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 980px;
    margin-top: 1rem;
    flex-wrap: wrap;
}

.btn-cv {
    display: inline-block;
    padding: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: -0.5rem;
    margin-left: 26rem;
    border: 0.16em solid rgba(255, 255, 255, 0);
    background-color: #cec3b4;
    border-radius: 0.5em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Dancing Script', cursive;
    font-size: 20px;
    font-weight: bold;
    color: rgb(83, 64, 44);
    text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
    text-align: center;
    transition: all 0.2s;
}

.btn-cv:hover {
    border-color: rgb(83, 64, 44);
}

.btn-link {
    display: inline-block;
    padding: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-top: -1rem;
    font-size: 35px;
    text-decoration: none;
    color: #cec3b4;
    text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
    text-align: center;
    transition: transform 0.3s ease-out;
}

.btn-link:hover {
    transform: translateY(8px);
}